<main class="container-fluid">
  <div class="row " style="margin-top: 50px">
    <div class="col-8 d-flex justify-content-center ">
      <div class="col-12">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <div class="d-flex  justify-content-center align-items-center col-4">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="box col-12" style="background-color: #f5151e">
          <h2>#. les declarations En Attend</h2>
          <h1>{{this.enattend}}</h1>
        </div>

        <div class="box col-12" style="background-color: #f5c815">
          <h2>#. les declarations En coure de Traitment</h2>
          <h1>{{this.encour}}</h1>
        </div>
        <div class="box col-12" style="background-color: #15f55c">
          <h2>#. les declarations Traite</h2>
          <h1>{{this.trite}}</h1>
        </div>

      </div>
    </div>
  </div>


</main>

